#py -3.10 -m venv 310insightface_env


#(310insightface_env) PS C:\Face_Detection> pip install torch==2.5.1+cu124 torchvision==0.20.1+cu124 torchaudio==2.5.1+cu124 --index-url https://download.pytorch.org/whl/cu124

#torch==2.5.1+cu124 torchvision==0.20.1+cu124 torchaudio==2.5.1+cu124 --index-url https://download.pytorch.org/whl/cu124

uvicorn

opencv-python

fastapi uvicorn

python-dotenv

SQLAlchemy

insightface

onnxruntime

psycopg2-binary

python-multipart


#pip install --pre onnxruntime-gpu --extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-nightly/pypi/simple/
#Successfully installed onnxruntime-gpu-1.23.2
  
#use this version , pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
#For GPU (CUDA): pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121 (The CUDA version may vary.)
#For CPU only: pip install torch torchvision torchaudio

#pip install --pre torch --index-url https://download.pytorch.org/whl/nightly/cu128

#pip install --pre torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu128	